USE [master]
GO
/****** Object:  Database [HotelRoomBookingDB]    Script Date: 11/15/2018 10:37:49 AM ******/
CREATE DATABASE [HotelRoomBookingDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjectHotelRoomBooking', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ProjectHotelRoomBooking.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjectHotelRoomBooking_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ProjectHotelRoomBooking_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelRoomBookingDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelRoomBookingDB]
GO
USE [HotelRoomBookingDB]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 11/15/2018 10:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[BookingId] [int] IDENTITY(700,1) NOT NULL,
	[CustomerId] [int] NULL,
	[Checkin] [date] NOT NULL,
	[Checkout] [date] NOT NULL,
	[HotelId] [int] NULL,
	[TotalAmount] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingDetails]    Script Date: 11/15/2018 10:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingDetails](
	[BookingId] [int] NOT NULL,
	[HotelId] [int] NULL,
	[RoomId] [int] NOT NULL,
	[Days] [int] NOT NULL,
	[RoomPrice] [money] NULL,
 CONSTRAINT [PK_BookingDetails] PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC,
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 11/15/2018 10:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [int] IDENTITY(100,1) NOT NULL,
	[CustomerName] [varchar](20) NOT NULL,
	[CustomerContact] [varchar](10) NOT NULL,
	[Email] [varchar](30) NOT NULL,
	[City] [varchar](20) NOT NULL,
	[Password] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotel]    Script Date: 11/15/2018 10:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotel](
	[HotelId] [int] IDENTITY(500,1) NOT NULL,
	[HotelName] [varchar](30) NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[City] [varchar](20) NOT NULL,
	[HotelContact] [varchar](15) NOT NULL,
	[HotelImage] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HotelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HotelRoom]    Script Date: 11/15/2018 10:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelRoom](
	[RoomId] [int] IDENTITY(200,1) NOT NULL,
	[Air_Conditioner] [char](1) NOT NULL,
	[Wi_fi] [char](1) NOT NULL,
	[RoomPrice] [money] NULL,
	[HotelId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 11/15/2018 10:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[BookingId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[HotelId] [int] NOT NULL,
	[PaymentType] [varchar](20) NULL,
	[TotalAmount] [money] NULL,
	[Date] [date] NOT NULL,
	[PaymentInvoiceNo] [int] IDENTITY(4500,1) NOT NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[PaymentInvoiceNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([BookingId], [CustomerId], [Checkin], [Checkout], [HotelId], [TotalAmount]) VALUES (735, 100, CAST(N'2018-11-01' AS Date), CAST(N'2018-11-04' AS Date), 501, 81468.0000)
INSERT [dbo].[Booking] ([BookingId], [CustomerId], [Checkin], [Checkout], [HotelId], [TotalAmount]) VALUES (736, 107, CAST(N'2018-11-02' AS Date), CAST(N'2018-11-05' AS Date), 501, 30000.0000)
INSERT [dbo].[Booking] ([BookingId], [CustomerId], [Checkin], [Checkout], [HotelId], [TotalAmount]) VALUES (737, 100, CAST(N'2018-11-21' AS Date), CAST(N'2018-11-22' AS Date), 501, 31000.0000)
SET IDENTITY_INSERT [dbo].[Booking] OFF
INSERT [dbo].[BookingDetails] ([BookingId], [HotelId], [RoomId], [Days], [RoomPrice]) VALUES (735, 501, 201, 4, 12367.0000)
INSERT [dbo].[BookingDetails] ([BookingId], [HotelId], [RoomId], [Days], [RoomPrice]) VALUES (735, 501, 203, 4, 8000.0000)
INSERT [dbo].[BookingDetails] ([BookingId], [HotelId], [RoomId], [Days], [RoomPrice]) VALUES (736, 501, 209, 4, 7500.0000)
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerId], [CustomerName], [CustomerContact], [Email], [City], [Password]) VALUES (100, N'Ankita', N'9999887744', N'ankita@gmail.com', N'Delhi', N'ankita@123')
INSERT [dbo].[Customer] ([CustomerId], [CustomerName], [CustomerContact], [Email], [City], [Password]) VALUES (102, N'Gitu', N'9986752422', N'gitu@gmail.com', N'Delhi', N'gitu@123')
INSERT [dbo].[Customer] ([CustomerId], [CustomerName], [CustomerContact], [Email], [City], [Password]) VALUES (103, N'Neha', N'9986545452', N'neha@gmail.com', N'pune', N'neha@123')
SET IDENTITY_INSERT [dbo].[Customer] OFF
SET IDENTITY_INSERT [dbo].[Hotel] ON 

INSERT [dbo].[Hotel] ([HotelId], [HotelName], [Address], [City], [HotelContact], [HotelImage]) VALUES (500, N'Radisson Blu', N'Ring Road', N'Indore', N'7789056778', N'https://s-ec.bstatic.com/images/hotel/max1280x900/112/112107707.jpg')
INSERT [dbo].[Hotel] ([HotelId], [HotelName], [Address], [City], [HotelContact], [HotelImage]) VALUES (501, N'The Royal Casino', N'New Delhi ', N'Delhi', N'9987652301 ', N'https://cdn.hotelplanner.com/Common/Images/_HotelPlanner/Home-Page/fade/sld6.jpg')
INSERT [dbo].[Hotel] ([HotelId], [HotelName], [Address], [City], [HotelContact], [HotelImage]) VALUES (503, N'Hyatt Regency', N'New Delhi', N'Delhi', N'8877887787', N'https://exp.cdn-hotels.com/hotels/1000000/20000/12300/12262/bd722ab0_z.jpg')
SET IDENTITY_INSERT [dbo].[Hotel] OFF
SET IDENTITY_INSERT [dbo].[HotelRoom] ON 

INSERT [dbo].[HotelRoom] ([RoomId], [Air_Conditioner], [Wi_fi], [RoomPrice], [HotelId]) VALUES (200, N'Y', N'Y', 8000.0000, 500)
INSERT [dbo].[HotelRoom] ([RoomId], [Air_Conditioner], [Wi_fi], [RoomPrice], [HotelId]) VALUES (201, N'Y', N'Y', 10000.0000, 501)
INSERT [dbo].[HotelRoom] ([RoomId], [Air_Conditioner], [Wi_fi], [RoomPrice], [HotelId]) VALUES (202, N'Y', N'N', 7600.0000, 501)
SET IDENTITY_INSERT [dbo].[HotelRoom] OFF
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([BookingId], [CustomerId], [HotelId], [PaymentType], [TotalAmount], [Date], [PaymentInvoiceNo]) VALUES (735, 100, 501, N'DC', 81468.0000, CAST(N'2018-11-12' AS Date), 4520)
INSERT [dbo].[Payment] ([BookingId], [CustomerId], [HotelId], [PaymentType], [TotalAmount], [Date], [PaymentInvoiceNo]) VALUES (736, 107, 501, N'DC', 30000.0000, CAST(N'2018-11-12' AS Date), 4521)
INSERT [dbo].[Payment] ([BookingId], [CustomerId], [HotelId], [PaymentType], [TotalAmount], [Date], [PaymentInvoiceNo]) VALUES (737, 100, 501, N'DC', 31000.0000, CAST(N'2018-11-12' AS Date), 4522)
SET IDENTITY_INSERT [dbo].[Payment] OFF
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [Bookingfk] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [Bookingfk]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [Bookingfk1] FOREIGN KEY([HotelId])
REFERENCES [dbo].[Hotel] ([HotelId])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [Bookingfk1]
GO
ALTER TABLE [dbo].[BookingDetails]  WITH CHECK ADD  CONSTRAINT [BookingDetailsfk] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Booking] ([BookingId])
GO
ALTER TABLE [dbo].[BookingDetails] CHECK CONSTRAINT [BookingDetailsfk]
GO
ALTER TABLE [dbo].[BookingDetails]  WITH CHECK ADD  CONSTRAINT [BookingDetailsfk1] FOREIGN KEY([HotelId])
REFERENCES [dbo].[Hotel] ([HotelId])
GO
ALTER TABLE [dbo].[BookingDetails] CHECK CONSTRAINT [BookingDetailsfk1]
GO
ALTER TABLE [dbo].[BookingDetails]  WITH CHECK ADD  CONSTRAINT [BookingDetailsfk2] FOREIGN KEY([RoomId])
REFERENCES [dbo].[HotelRoom] ([RoomId])
GO
ALTER TABLE [dbo].[BookingDetails] CHECK CONSTRAINT [BookingDetailsfk2]
GO
ALTER TABLE [dbo].[HotelRoom]  WITH CHECK ADD  CONSTRAINT [HotelRoomfk] FOREIGN KEY([HotelId])
REFERENCES [dbo].[Hotel] ([HotelId])
GO
ALTER TABLE [dbo].[HotelRoom] CHECK CONSTRAINT [HotelRoomfk]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [Paymentfk] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Booking] ([BookingId])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [Paymentfk]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [Paymentfk1] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [Paymentfk1]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [Paymentfk2] FOREIGN KEY([HotelId])
REFERENCES [dbo].[Hotel] ([HotelId])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [Paymentfk2]
GO
/****** Object:  StoredProcedure [dbo].[GetAvailableRooms]    Script Date: 11/15/2018 10:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GetAvailableRooms] @checkin datetime,@checkout datetime,@HotelId int,@ac char(1),@wifi char(1) as

select h.HotelId,r.RoomId,h.HotelName ,h.City,h.HotelContact,r.RoomPrice,h.HotelImage from Hotel h join HotelRoom r on
h.HotelId=r.HotelId where h.HotelId=@HotelId 
and r.Air_Conditioner=@ac and r.Wi_fi=@wifi
and r.RoomId in
(
    select RoomId from HotelRoom where HotelId=@HotelId  except
    (
	select  b.RoomId from Booking a join BookingDetails b on a.BookingId=b.BookingId where b.HotelId=@HotelId
and ((@checkin <= a.checkin  and (@checkout between a.checkin and a.checkout)) or
    (( @checkin between a.checkin and a.checkout) and (@checkout >= a.checkout))) or
    (( @checkin < a.checkin) and (@checkout > a.checkout)) or
    ((@checkin between a.checkin and a.checkout) and (@checkout between a.checkin and a.checkout)) 
	
  ) 
 )
GO
/****** Object:  StoredProcedure [dbo].[GetAvailableRooms1]    Script Date: 11/15/2018 10:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GetAvailableRooms1] @checkin datetime,@checkout datetime,@HotelId int,@ac char(1),@wifi char(1) as

select h.HotelId,r.RoomId,h.HotelName ,h.City,h.HotelContact,r.RoomPrice, b.checkin, b.checkout from Hotel h join HotelRoom r on
h.HotelId=r.HotelId join Booking b on h.HotelId= b.HotelId where h.HotelId=@HotelId 
and r.Air_Conditioner=@ac and r.Wi_fi=@wifi
and r.RoomId in
(
    select RoomId from HotelRoom where HotelId=@HotelId  except
    (
	select  b.RoomId from Booking a join BookingDetails b on a.BookingId=b.BookingId where b.HotelId=@HotelId
and ((@checkin <= a.checkin  and (@checkout between a.checkin and a.checkout)) or
    (( @checkin between a.checkin and a.checkout) and (@checkout >= a.checkout))) or
    (( @checkin < a.checkin) and (@checkout > a.checkout)) or
    ((@checkin between a.checkin and a.checkout) and (@checkout between a.checkin and a.checkout))
  ) 
 )
GO
USE [master]
GO
