
@{
    ViewData["Title"] = "Payment";
    Layout = "_LayoutLogout";
    //decimal totalAmount = (decimal)ViewData["total"];
}


<html>
<head>
    <style>
        /*
        * Specific styles of signin component
        */
        /*
        * General styles
        */
        body, html {
            height: 100%;
            background-repeat: no-repeat;
            background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
        }

        .card-container.card {
            max-width: 750px;
            padding: 40px 40px;
            height: 760px;
            opacity: 0.8;
        }

        .btn {
            font-weight: 700;
            height: 36px;
            -moz-user-select: none;
            -webkit-user-select: none;
            user-select: none;
            cursor: default;
            position:relative;
            bottom:50px;
        }

        /*
        * Card component
        */
        .card {
            background-color: black;
            /* just in case there no content*/
            padding: 20px 25px 30px;
            margin: 0 auto 25px;
            margin-top: 50px;
            /* shadows and rounded borders */
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            opacity: 0.8;
        }

        
    </style>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <script type="text/javascript">
        function displayForm(c) {
            if (c.value == "Credit Card") {

                document.getElementById("ccformContainer").style.visibility = 'visible';
                document.getElementById("DebitcardformContainer").style.visibility = 'hidden';
            } else if (c.value == "Debit Card") {
                document.getElementById("ccformContainer").style.visibility = 'hidden';

                document.getElementById("DebitcardformContainer").style.visibility = 'visible';
            } else { }
        }

    </script>



</head>
<body>
    <div class="container">
        <div class="card card-container">
           
        <h1 style="color:white"><b><center>Pay Here...!!</center></b></h1>
        <br/>
        <br/>
    
            <div style="color:white">
                <form asp-controller="PaymentApp" asp-action="Invoice" method="post">
                    
                    <input value="Credit Card" type="radio" name="payMode" style="transform:scale(1.5,1.5)" checked="checked" onClick="displayForm(this)" />&nbsp;&nbsp;&nbsp;Via Credit Card &nbsp;&nbsp;&nbsp;&nbsp;

                    <input value="Debit Card" type="radio" name="payMode" style="transform:scale(1.5,1.5)" onClick="displayForm(this)" />&nbsp;&nbsp;&nbsp;Via Debit Card

                    <div style=" position:relative" id="ccformContainer">
                        <br />
                        <br />

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label style="color:white">Enter Email: </label>

                                    <input name="Email" type="email" style="width:500px;color:black"  placeholder="Email Address"  required />

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="form-group">
                                    <label style="color:white">Enter Name: </label>

                                    <input name="Name" type="text" style="width:500px;color:black" placeholder="Your Name here"  required/>

                                </div>
                            </div>
                        </div>


                        <br />

                        <label style="color:white">Enter your credit card details :</label>
                        <br>
                        <br>

                        <p>
                            Credit Card Name :
                            <input type="text" name="CCard" id="ccname" style="width:460px;color:black" placeholder="Credit Card Name" required>
                        </p>
                        <br />
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label style="color:white" for="cardNumber">CARD NUMBER</label>
                                    <div class="input-group">
                                        <input type="tel"
                                               class="form-control"
                                               placeholder="Valid Card Number"
                                               autocomplete="cc-number"
                                               minlength="16"
                                               style="color:black"
                                               id="ccnumber" required
                                               />
                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p>
                            <div class="row">
                                <div class="col-xs-7 col-md-7">
                                    <div class="form-group">
                                        <label style="color:white" for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>

                                        Month :
                                        <select style="color:black" name="Month" required>
                                            <option value="Jan" style="color:black">Jan</option>
                                            <option value="Feb" style="color:black">Feb</option>
                                            <option value="Mar" style="color:black">Mar</option>
                                            <option value="Apr" style="color:black">Apr</option>
                                            <option value="May" style="color:black">May</option>
                                            <option value="June" style="color:black">June</option>
                                            <option value="July" style="color:black">July</option>
                                            <option value="August" style="color:black">August</option>
                                            <option value="Sept" style="color:black">Sept</option>
                                            <option value="Oct" style="color:black">Oct</option>
                                            <option value="Nov" style="color:black">Nov</option>
                                            <option value="Dec" style="color:black">Dec</option>
                                        </select> <span>
                                            Year : <select style="color:black" name="Year" required>
                                                <option value="2015" style="color:black">2015</option>
                                                <option value="2016" style="color:black">2016</option>
                                                <option value="2017" style="color:black">2017</option>
                                                <option value="2018" style="color:black">2018</option>
                                                <option value="2019" style="color:black">2019</option>
                                                <option value="2020" style="color:black">2020</option>
                                                <option value="2021" style="color:black">2021</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-7 col-md-5">
                                    <div class="form-group">
                                        <label style="color:white" for="cardCVC">CV CODE</label>
                                        <input type="tel" name="CVC"
                                               class="form-control"
                                               placeholder="CVC"
                                               minlength="3"
                                               id="cccvc"
                                               style="color:black"
                                               autocomplete="cc-csc" required
                                               />
                                    </div>
                                </div>
                            </div>




                    </div>


                    @*``````````````````````````````````````````````````````````````````````````*@




                    <div  style="visibility:hidden; position:relative; top:-220px; margin-top:-220px"
                         id="DebitcardformContainer">






                        <label style="color:white">Enter your debit card details :</label>
                        <br>
                        <br>

                        <p>
                            Debit Card Name :
                            <input type="text" id="dcname"  style="width:460px;color:black" placeholder="Debit Card Name"  >
                        </p>
                        
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label style="color:white" for="cardNumber">CARD NUMBER</label>
                                    <div class="input-group">
                                        <input type="tel"
                                               class="form-control"
                                               placeholder="Valid Card Number"
                                               autocomplete="dc-number"
                                               minlength="16"
                                               id="dcnumber" 
                                                style="color:black"
                                              
                                               />
                                        <span class="input-group-addon"><i class="fa fa-debit-card"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                            <div class="row">
                                <div class="col-xs-7 col-md-7">
                                    <div class="form-group">
                                        <label style="color:white" for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>

                                        Month :
                                        <select style="color:black" name="Month" >
                                            <option value="Jan" style="color:black">Jan</option>
                                            <option value="Feb" style="color:black">Feb</option>
                                            <option value="Mar" style="color:black">Mar</option>
                                            <option value="Apr" style="color:black">Apr</option>
                                            <option value="May" style="color:black">May</option>
                                            <option value="June" style="color:black">June</option>
                                            <option value="July" style="color:black">July</option>
                                            <option value="August" style="color:black">August</option>
                                            <option value="Sept" style="color:black">Sept</option>
                                            <option value="Oct" style="color:black">Oct</option>
                                            <option value="Nov" style="color:black">Nov</option>
                                            <option value="Dec" style="color:black">Dec</option>
                                        </select> <span>
                                            Year : <select style="color:black" name="Year" >
                                                <option value="2015" style="color:black">2015</option>
                                                <option value="2016" style="color:black">2016</option>
                                                <option value="2017" style="color:black">2017</option>
                                                <option value="2018" style="color:black">2018</option>
                                                <option value="2019" style="color:black">2019</option>
                                                <option value="2020" style="color:black">2020</option>
                                                <option value="2021" style="color:black">2021</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-7 col-md-5">
                                    <div class="form-group">
                                        <label style="color:white" for="cardCVC">CV CODE</label>
                                        <input type="tel"
                                               class="form-control"
                                               placeholder="CVC"
                                               minlength="3"
                                               id="dccvc"
                                                style="color:black"
                                               autocomplete="dc-csc" 
                                              
                                               />
                                    </div>
                                </div>
                            </div>




                    </div>

                    @*<label>Total Amount @totalAmount</label>*@

                    <div id="float_right">

                        @*<a asp-controller="PaymentApp" asp-action="PostValues" class="btn btn-primary" asp-route="">Pay Now</a>*@
                        <input type="submit" class="btn btn-primary" value="Pay Now" id="btnsubmit"/>
                    </div>
                </form>
            </div>




        </div><!-- /card-container -->
    </div><!-- /container -->
</body>
</html>





































































